In [10]:
import pycaret

In [11]:
import pandas as pd

In [12]:
from pycaret.regression import *

In [13]:
df = pd.read_csv('data/nba_2023_dataset.csv')

s = setup(df,target='WL')

In [14]:
best = compare_models()

In [15]:
predictions = predict_model(best)

In [16]:
predictions.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,WL,prediction_label
3046,22022,1610612749,MIL,Milwaukee Bucks,22201208,2023-04-07,MIL vs. MEM,241,114,42,...,27,38,30,5,3,17,15,-23.0,0,-0.080109
4481,22022,1612709923,WCB,Windy City Bulls,2022200218,2023-02-03,WCB @ WIS,241,144,56,...,36,45,27,6,7,4,17,11.0,1,0.772894
5022,22022,1610612761,TOR,Toronto Raptors,22200629,2023-01-12,TOR vs. CHA,241,124,43,...,24,32,30,15,4,9,23,10.0,1,0.748054
2516,22023,1611661321,DAL,Dallas Wings,1022300042,2023-06-09,DAL vs. PHO,200,90,32,...,24,41,22,7,9,14,19,13.0,1,0.823213
4891,22022,1610612743,DEN,Denver Nuggets,22200667,2023-01-17,DEN vs. POR,240,122,44,...,31,42,32,8,6,11,15,9.0,1,0.722958

In [19]:
# Testing model with new dataset
dfa = pd.read_csv('data/nba_game_data_020124.csv') 
predictions_test = predict_model(best,data=dfa)
predicted = predictions_test[predictions_test['TEAM_NAME']=='Golden State Warriors']
predicted_filtered= predicted[['TEAM_NAME','MATCHUP','prediction_label']]

predicted_filtered = predicted_filtered.drop_duplicates(subset=['MATCHUP'])
print(predicted_filtered.to_string())

                  TEAM_NAME      MATCHUP  prediction_label
46    Golden State Warriors  GSW vs. DAL          0.246137
123   Golden State Warriors  GSW vs. MIA          0.195945
188   Golden State Warriors    GSW @ DEN          0.346520
209   Golden State Warriors  GSW vs. POR          0.999012
221   Golden State Warriors  GSW vs. WAS          0.773149
314   Golden State Warriors  GSW vs. BOS          0.647670
368   Golden State Warriors    GSW @ POR          0.597478
374   Golden State Warriors  GSW vs. BKN          0.597478
449   Golden State Warriors    GSW @ LAC          0.296328
499   Golden State Warriors    GSW @ PHX          0.421808
576   Golden State Warriors    GSW @ OKC          0.446903
782   Golden State Warriors  GSW vs. LAC          0.647670
822   Golden State Warriors    GSW @ SAC          0.471999
920   Golden State Warriors  GSW vs. SAS          0.647670
1025  Golden State Warriors  GSW vs. HOU          0.622574
1067  Golden State Warriors  GSW vs. OKC          0.321424
1170  Golden State Warriors  GSW vs. MIN          0.421808
1254  Golden State Warriors  GSW vs. CLE          0.296328
1353  Golden State Warriors    GSW @ DET          0.773149
1376  Golden State Warriors    GSW @ CLE          0.221041
1436  Golden State Warriors  GSW vs. SAC          0.522191
1448  Golden State Warriors    GSW @ NOP          1.199779
1481  Golden State Warriors    GSW @ HOU          0.773149
1546  Golden State Warriors  GSW vs. PHX          0.396712
1635  Golden State Warriors    GSW @ LAL          0.600732
1701  Golden State Warriors  GSW vs. LAL          0.856709
2127  Golden State Warriors    GSW @ TOR          0.527027
2203  Golden State Warriors    GSW @ DAL          0.446720
2280  Golden State Warriors  GSW vs. NOP          0.230896
2346  Golden State Warriors    GSW @ CHA          0.928585
3432  Golden State Warriors  GSW vs. PHI          0.697862
3589  Golden State Warriors    GSW @ MEM          0.145753
3607  Golden State Warriors    GSW @ ATL          0.296329
3797  Golden State Warriors  GSW vs. MIL          0.722958
4664  Golden State Warriors    GSW @ MIN          0.371616
4766  Golden State Warriors  GSW vs. TOR          0.798246
4840  Golden State Warriors  GSW vs. MEM          0.547287
4987  Golden State Warriors    GSW @ BOS          0.421808
5058  Golden State Warriors    GSW @ WAS          0.722958
5073  Golden State Warriors    GSW @ CHI          0.145753
5131  Golden State Warriors    GSW @ SAS          1.275067
5291  Golden State Warriors  GSW vs. ORL          0.145753
5366  Golden State Warriors  GSW vs. DET          0.421808
5438  Golden State Warriors  GSW vs. ATL          0.547287

In [18]:
save_model(best,'bet_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['SEASON_ID', 'TEAM_ID', 'GAME_ID',
                                              'MIN', 'PTS', 'FGM', 'FGA',
                                              'FG_PCT', 'FG3M', 'FG3A',
                                              'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
                                              'OREB', 'DREB', 'REB', 'AST',
                                              'STL', 'BLK', 'TOV', 'PF',
                                              'PLUS_MINUS'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['T...NAME',
                                              'GAME_DATE', 'MATCHUP'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['TEAM_ABBREVIATION', 'TEAM_NAME',
                                              'GAME_DATE', 'MATCHUP'],
                                     transformer=TargetEncoder(cols=['TEAM_ABBREVIATION',
                                                                     'TEAM_NAME',
                                                                     'GAME_DATE',
                                                                     'MATCHUP'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', ElasticNet(random_state=7655))]),
 'bet_model.pkl')